<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <table>
      <tr>
          <td>编号</td>
          <td>姓名</td>
          <td>密码</td>
          <td>类型</td>
          <td>操作</td>

      </tr>
      <tr th:each="u:${list}">
        <td th:text="${u.id}"></td>
        <td th:text="${u.uname}"></td>
        <td th:text="${u.upwd}"></td>
        <td th:text="${u.type}"></td>
          <td><a th:href="@{'/user/findById?id='+${u.id}}">修改</a></td>
          <td><a th:href="@{'/user/deleteUser?id='+${u.id}}">删除</a></td>



      </tr>

  </table>
</body>
</html>