<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.neu.user.mapper.UserMapper">
    <select id="findUser" resultType="com.neu.user.entity.User">
        <![CDATA[
            select d.*
            from
            (select u.*,rownum r from user1 u) d
            where r>(#{index}-1)*#{size} and r<=#{index}*#{size}

        ]]>
    </select>
    <select id="findById" resultType="com.neu.user.entity.User">
        select * from user1 where id=#{id}
    </select>
    <!-- 根据id修改记录-->
    <update id="updateUser" parameterType="com.neu.user.entity.User">
        update user1 set uname=#{uname},upwd=#{upwd},type=#{type}
        where id=#{id}
    </update>
    <!--这是登陆功能  -->
    <select id ="login" resultType="com.neu.user.entity.User">
        select * from user1 where uname=#{uname} and upwd=#{upwd}
    </select>
    <!--根据id删除记录-->
    <delete id="deleteUser" parameterType="com.neu.user.entity.User">
        delete from user1 where id=#{id}

    </delete>
</mapper>